/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

@import "advisors.css";
@import "sidebar.css";
@import "layout.css";
@import "students.css";
@import "news.css";
@import "form.css";
@import "reports.css";

body {
  font-family: "Poppins", sans-serif;
}

/* Base button styles */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 32px;
  border-radius: 6px;
  text-align: center;
  border-width: 1px;
  transition: background-color 0.2s ease-in-out, opacity 0.2s;
}

/* Primary button */
.btn-primary {
  background-color: #d8edff; /* bg-blue-100 */
  color: #587ea0; /* text-blue-600 */
  border-width: 0px;
}

.btn-primary:hover {
  background: #0056b3;
  color: #ffffff;
}

/* Secondary button */
.btn-secondary {
  background-color: #ffffff; /* bg-gray-200 */
  text-decoration: #888888;
}

.btn-delete {
  background-color: #fcdede;
  color: #c62828;
  border-width: 0px;
}

.btn-delete:hover {
  background-color: #f53636;
  color: #ffffff;
}
/* Disabled button */
.btn-disabled {
  background-color: #e5e5e5; /* bg-gray-200 */
  color: #ffffff; /* text-gray-400 */
  border-width: 0px;

  opacity: 0.5;
  cursor: not-allowed;
}

/* Hover effect for enabled buttons */
.btn:hover:not(.btn-disabled) {
  opacity: 0.8;
}
